<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.1</string>
	<key>CFBundleDisplayName</key>
	<string>BUG</string>
	<key>CFBundleIdentifier</key>
	<string>com.bosquesgdlapp.publica</string>
	<key>CFBundleVersion</key>
	<string>1.9</string>
	<key>CFBundleName</key>
	<string>BUG</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to notify you when you arrive at a point of interest</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenMain</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs Calendar Permission</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is required to scan QR codes </string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
</dict>
</plist>
